.container {
    width: 90%;
    margin: auto;
}

* {
    padding: 0;
    margin: 0;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

.movie-titles {
    width: 340px;
    text-align: center;
    margin: 10px 0;
}

.movie-titles h4 {
    width: 220px;
    margin: 0 auto;
    color: white;
    font-size: 17px;
    padding: 5px 0;
}

.movie-titles h5 {
    width: 220px;
    margin: 0 auto;
    color: white;
    font-size: 10px;
}

#header {
    background: #0a0010;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.header h1 {
    color: white;
}

.header-menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.header-menu a {
    text-decoration: transparent;
    color: blanchedalmond;
}

.header-menu a:hover {
    color: #ffbe4e;
}

.movie-titles-movie {
    padding: 10px;
    width: 220px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid black;
    background: #0b0010;
}

.movie-titles-movie div {
    display: flex;
}

.movie-titles img {
    border-radius: 10px;
}

.movie-titles h1 {
    color: white;
    font-size: 15px;
    position: absolute;
    z-index: 200;
    margin: 5px 0 0 5px;
    padding: 5px 10px;
    background: #006c00;
    border-radius: 10px;
}

body {
    background: url("./img/maxresdefault.jpg") no-repeat center/cover fixed;
}

.movie-detail {
    display: flex;
    color: white;
    padding: 70px 20px;
}

.movie-detail img {
    box-shadow: 0 0 20px 20px rgba(0, 4, 255, 0.22);
}

.movie-detail-img {
    padding: 15px;
    border: 2px solid #6e89ad;
    box-shadow: 0 0 20px 20px rgba(0, 41, 192, 0.22);
}

.movie-detail-title {
    margin-left: 110px;
}

.movie-detail-title div p {
    text-shadow: 3px 3px 2px rgb(0, 89, 255);
    width: 80%;
}

.movie-detail-title h4 {
    margin: 5px 0 25px 0;
    display: flex;
    align-items: end;
    text-shadow: 3px 3px 2px rgb(0, 89, 255);;
}

.movie-detail-title h4 p {
    font-size: 19px;
}

.movie-detail-title h4 span {
    color: #81c0ff;
}

.movie-detail-title h3 {
    font-size: 32px;
    display: flex;
    text-shadow: 3px 3px 2px rgb(0, 89, 255);;
}

.movie-detail-title h2 {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0 0 15px 0;
    text-shadow: 3px 3px 2px rgb(0, 89, 255);;
}

.movie-detail-title h2 h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #0b0010;
    font-size: 20px;
    margin-left: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 41, 192, 0.81);
}

.movie-detail-title h1 {
    font-size: 30px;
    text-shadow: 3px 3px 1px rgb(0, 89, 255);
}

.movie-detail-title h4 span {
    margin: 0 5px;
}

.actor img {
    margin: 0 auto;
}

.actor {
    padding: 50px 0;
}

#actor {
    background: url("./img/doha-qatar-night-cityscape-city-lights-reflections-dark-5k-5120x2880-1598.jpg") no-repeat center/cover fixed;
}

.actor h1 {
    text-align: center;
    color: white;
    font-size: 22px;
}

.actor h2 {
    text-align: center;
    color: gray;
    font-size: 15px;
}

.actor-title {
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid black;
    background: #0b0010;
    width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trailer iframe {
    margin: 0 auto;
    box-shadow: 0 0 20px 20px rgba(0, 4, 255, 0.22);
}

.trailer {
    padding: 50px 0;
}

#trailer {
    background: url("./img/maxresdefault (3).jpg") no-repeat center/cover fixed;
}

.trailer-title {
    display: flex;
    padding: 15px;
    border: 2px solid #6e89ad;
    box-shadow: 0 0 20px 20px rgba(0, 41, 192, 0.49);
    width: 500px;
    height: 300px;
    margin: 40px auto;
}

.trailer button {
    background: #0a0010;
    border-radius: 50%;
    height: 19px;
}

.trailer button:hover {
    background: #0a0010;
    border-radius: 50%;
    height: 19px;
}

.trailer button:focus {
    background: #0a0010;
    border-radius: 50%;
    height: 19px;
}

.actor-detail {
    display: flex;
    padding: 70px 30px;
}

#actor-detail {

    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url("./img/px1366710-image-kwvxxeqp.jpg") no-repeat center / cover fixed;
}

.actor-detail-title {
    padding-left: 80px;
    color: white;
    text-shadow: 3px 3px 2px rgb(0, 89, 255);
}

.actor-detail-title h1 {
    font-size: 40px;
}

.actor-detail-title h2 {
    font-size: 30px;
}

.actor-detail-title h2 p {
    font-size: 20px;
}

.actor-detail-title button {
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background: #0a0010;
    border: 1px solid gray;
    margin-top: 8px;
    box-shadow: 0 0 5px 5px rgba(0, 38, 173, 0.58);
    text-shadow: 2px 2px 2px rgb(0, 89, 255);
}

.actor-detail-img img {
    box-shadow: 0 0 20px 20px rgba(0, 4, 255, 0.22);
}

.actor-detail-img {
    padding: 15px;
    border: 2px solid #6e89ad;
    box-shadow: 0 0 20px 20px rgba(0, 38, 173, 0.4);
}

.actor-movie img {
    margin: 0 auto;
}

.actor-movie {
    padding: 50px 0;
}

.actor-movie h1 {
    text-align: center;
    color: white;
    font-size: 15px;
    padding-top: 5px;
}

.actor-movie h2 {
    text-align: center;
    color: gray;
    font-size: 15px;
}
